asgiref
blinker
cachelib
click
dj-database-url
Django
django-tastypie
dotenv
Flask
Flask-Session
Flask-SQLAlchemy
greenlet
gunicorn
honeybadger
itsdangerous
Jinja2
MarkupSafe
msgspec
packaging
pillow
pip
psycopg2-binary
python-dateutil
python-dotenv
python-mimeparse
six
SQLAlchemy
sqlparse
typing_extensions
Unidecode
Werkzeug
whitenoise
