{% extends "shop/base.html" %}

{% block title %}Terms and Conditions{% endblock %}

{% block content %}
<article class="terms-container">
    <h1>Terms and Conditions</h1>
    
    <section class="terms-section">
        <h2>Acceptance of this Agreement</h2>
        
        <p>These terms and conditions ("Terms and Conditions") control your use of this website.</p>
        
        <p>This Website, the services made available through the Website, and the content therein are owned, operated and maintained, as applicable, by Insaffood.</p>
        
        <p>No additional or different terms contained in any purchase order, document, transmission or other communication shall be binding upon us unless agreed to by the company in writing.</p>
        
        <p>All prices, products, and offers on our website are subject to change without notice.</p>
        
        <p>We reserve the right to unilaterally amend or modify this Agreement without giving any prior notification to you.</p>
        
        <footer class="terms-footer">
            <small>Last Updated on February 27, 2026</small>
        </footer>
    </section>
</article>
{% endblock %}
